.adminCont{
    display: flex;
    width: 100%;
    height: 100vh;
}

.navAdmin{
    padding-top: 6%;
    width: 25%;
    background-color: #310101;
    height: 100%;
    color: #fff;
    border-bottom: 3px solid #B2B2B2;
    border-right: 3px solid #B2B2B2;
}

.opcionAdmin{
    margin-bottom: 10%;
    margin-left: 3px;
    display: flex;
    background-color: #3E0202;
    padding: 12px;
    cursor: pointer;
}

.seleccion{
    border-left: 2px solid #fff;
    text-shadow: 1px 1px 10px #fff;
}
.parteAdmin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.casillasAdmin{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.contCasilla{
    display: flex;
    width: 100%;
}

.casillaAdmin{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    border-left: none;
    border-right: none;
    width: 25%;
    padding: 10px;
}

.casillaAdmin input {
    display: flex;
    width: 90%;
    outline: none;
    text-align: center;
    border: none;
    padding: 0px;
}

.casillaAdmin img {
    cursor: pointer;
    width: 10%;
    margin: 0px;
}

.casillaAdmin p {
    margin: 0px;
    max-width: 85%;
}

#contCasillaTop{
    background-color: #310101;
    color: #fff;
}

.userCont{
    display: flex;
    width: 50%;
    padding: 10px;
}

.casillaName{

}