footer {
    width: 100%;
    background-color: #310101;
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 32px 25px;
    font-family: 'Calibri';
}

.img-foot {
    margin-bottom: 0;
    vertical-align: middle;
}

.lista-footer {
    margin-left: 25px;
    margin-right: 20px;
}

.datos-footer {
    text-align: left;
    display: flex;
    margin-bottom: 40px;
}

.datos-footer li {
    list-style: none;
    float: left;
}

.datos-footer li a {
    display: block;
    text-decoration: none;
    padding-left: 0;
    padding-right: 50px;
    color: #fff;
}
.datos-footer li a:hover{color: #e3901b;}

#contactos .contactos-footer {
    text-align: left;
}

#contactos .contactos-footer li {
    list-style: none;
    padding: .5px;
}

#contactos .contactos-footer li a {
    text-decoration: none;
    color: #fff;
    
}

#contactos .copy {
    padding-top: 50px;
    margin: 0;
}

.map-footer iframe {
    margin-right: 25px;
}

/*----Responsive----*/

@media (max-width: 600px) {
    footer {
        display: inline-block;
    }
    .lista-footer {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .datos-footer li a {
        padding-left: 0;
        padding-right: 20px;
        margin-bottom: 40px;
    }
    #contactos .copy {
        margin-top: 2px;
        padding-top: 30px;
        margin-bottom: 0px;
    }
}


/**Mapa del sitio**/

.mapa h4 , .mapa a{
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.mapa a:hover{color: #e3901b;}

.mapa .contenido{
    vertical-align: top;
}

.mapa ul{
    margin: 0px;
    padding: 0px 50px;
    text-decoration: none;
    font-weight: normal;
}