.navbar-index {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 100;
    top:0px;
    align-items: center;
	justify-content: flex-end;
	padding: 15px;
    margin:0px;
	font-family:  Calibri, sans-serif;
	font-weight: bold;
}

.navbar-index div {
	margin: 0px;
	padding: 0px;
}

.imgCar{
	width: 30px;
}

.logo{
	position: absolute;
	left: 15px;
}

.logo img {
	width: 100px;
}

.navbar-index a {
	margin: 0px;
	padding: 0px;
	margin-right: 65px;
	color: white;
	text-decoration: none;
}
.pocoMargin{
	margin-right: 20px!important;
	cursor: pointer;
}

.marginLogin{
	cursor: pointer;
	margin-left: 15px;
	margin-right: 5px!important;
}

.nav-link a:hover{ 
	color: #4F2634 !important;
}

.carrito a {
	margin: 0px;
}
.MenuOpcionesCont{
	display: flex;
	position: fixed;
	top: 9.5vh;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	z-index: 500;
	right: 0.7%;
	padding: 12px;
	border-radius: 5px;
	box-shadow: 0px 1px 6px 1px #474747;
}

.opcionesNavMenu{
	cursor: pointer;
	width: 100%;
	color: #000;
	background-color: #F7F7F7;
	margin-bottom:4%;
	padding: 10px 5px;
	padding-left: 10px;
}

.opcionesNavMenu:hover{
	background-color: #F0EFEF;
}

#fondoCerrarMenu{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

#arrowMenu{
	height: 5vh;
	transition: transform 0.3s;
}
.opcionPerfilMenu{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.opcionPerfil{
	display: flex;
	align-items: center;
}
#btnAdmin{
	margin-top: 2%;
}